html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body.bp {
  background-color: #dedede;
}
body.bp .clear {
  clear: both;
}
body.bp .nowrap {
  white-space: nowrap;
}
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
body.bp #smiley {
  width: 1111px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  width: 444px;
  margin-top: 22px;
}
body.bp #resume {
  width: 1111px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 11px;
  background-color: cornsilk;
}

body.keyholder {
  background-color: #fff;
}

.keyholder {
  margin-top: 55px;
  text-align: center;
}
